.choise {
    padding-top: 100px;
    height: 550px;
    background: url(../img/samsung1440.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_header {
        font-family: 'SamsungSharpSans';
        font-size: 67px;
        letter-spacing: 1px;
    }
    &_subheader {
        margin-top: 35px;
        font-family: 'SamsungOne700';
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    &_text {
        margin-top: 22px;
        font-size: 18px;
        text-align: center;
        width: 600px;
        line-height: 25px;
        letter-spacing: 1px;
    }
    &_register {
        margin-top: 40px;
        display: flex;
        align-items: center;
        &> a {
            text-transform: uppercase;
            color: #000000;
        }
    }
    &_sign {
        height: 50px;
        width: 230px;
        text-transform: uppercase;
        background-color: transparent;
        border: 1px solid black;
        letter-spacing: 3px;
        border-radius: 50px;
        margin-right: 15px;
    }
}
