.promo {
    padding: 100px 0;
    &_header {
        font-size: 38px;
        text-align: center;
        letter-spacing: 1px;
    }
    &_wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        text-align: center;
        &-item {
            max-width: 308px;
            position: relative;
            &:nth-child(2) {
                &::before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    display: block;
                    background-color: black;
                    border-radius: 100%;
                    position: absolute;
                    left: -68px;
                    top: 31%;
                    transform: translateY(-50%);
                }
                &::after {
                    content: '';
                    width: 12px;
                    height: 12px;
                    display: block;
                    background-color: black;
                    border-radius: 100%;
                    position: absolute;
                    right: -68px;
                    top: 31%;
                    transform: translateY(-50%);
                }
            }
        }
        &-descr {
            margin-top: 17px;
            font-size: 22px;
        }
    }
    &_rules {
        margin: 40px auto 0 auto;
        display: block;
        font-size: 10px;
        width: 270px;
    }
    &_deliv {
        margin-top: 70px;
        text-align: center;
        font-size: 26px;
        font-weight: normal;
    }
}