.smartphones {
    &_header {
        text-align: center;
        font-size: 38px;
        margin: 0 auto;
        width: 400px;
        display: block;
        padding-top: 95px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    &_table {
        margin: 75px auto 0;
        border-collapse: collapse;
        border: 1px solid lightgray;
        th, td {
            font-size: 24px;
            padding: 10px;
            &:nth-child(1) {
                padding: 15px;
            }
            &:nth-child(n+1) {
                padding-right: 90px;
                text-align: end;
                font-weight: 700;
            }
            &:nth-child(n+2) {
                text-align: start;
            }
        }
        td {
            &:nth-child(n+2) {
                text-align: start;
                padding-left: 75px;
                font-weight: normal;
            }
            border-bottom: 1px solid lightgray;
        }
        thead th {
            width: 37%;
            font-size: 30px;
        }
        thead {
            background-color: lightgray;
        }
    }
    &_btn {
        margin: 0 auto;
        display: block;
        margin-top: 33px;
        width: 270px;
        font-size: 11px;
        letter-spacing: 1px;
    }
}
